
header,
footer {
    background-color: #f08892;
}

footer {
    text-align: center;
    padding: 30px 0;
}

p {
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: auto;
}

#logo {
    width: 180px;
    height: 180px;
    margin-left: 450px;
}

.carousel,
.row {
    margin-bottom: 30px;
}

.carousel {
    margin-top: 30px;
}

.carousel {
    max-height: 400px;
    overflow: hidden;
}

.carousel img {
    width: auto;
}

.card {
    float: left;
    margin: 15px;
}

.card-img-top{
    width: 100px;
    margin-left: 65px;
    margin-top: 15px;
}

.card-title {
    text-align: center;
}

.autora{
    color: black;
    text-decoration: none;    
}

.autora:hover {
    color: white;
}